<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
   <title>InvestWiser</title>

   <!-- Bootstrap core CSS -->
   <!-- <link href="static/css/bootstrap.css" rel="stylesheet"> -->
   <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/dc.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->

 </head>

 <body {% if query %} onload="queryURL('{{ query }}')" {% endif %}>

 <style>
 .founder {
   display: none;
 }
/* #company_img {
   // max-height: 120px;
 }
*/
 </style>
   <div class="container-full">
     <div align="center">

     <a href="/"><h1>InvestWiser</h1></a>
     <h3 class="caption">Predict Founder's effect on SeriesA Funding</h3>

     <div class="form-group">
       <span class="input-group-btn">
         <form class="form-inline" action="fetchcompany" method="get">
           <input style="width: 500px; height:64px; font-size:20px;" 
                  type="text" id="query" name="q" class="form-control">  
           <button style="font-size:20px; height:64px;" 
                   class="btn primary-button" id="company" type="submit">Predict</button>                       
<!--            <button style="height:43px; font-size:20px;" class="btn secondary-button" 
                   onclick="visualize_features()" id="summarybut" type="button">Show People</button> -->
         </form>
       </span>
     </div>
   
  <div class="row">
     <div class="col-md-6" id="prob-box"><h3>Probability of series A</h3></div>
     <div class="col-md-6" id="worth-box"><h3>Predicted Amount</h3></div>
     <div id="pred-bar"></div>
  </div>
     <div id="feat-bar"></div>
     </div>
   </div>
   <div class="container">
     <div class="row">
      <!-- <div id="feature-hplot">Place Holder for feature importance</div> -->
       <!-- <img class="col-xs-8" src="/static/img/featureimportances.png"> -->
       <img class="col-xs-3 pull-right" id="company_img" src="https://s3.amazonaws.com/photos.angel.co/startups/i/32509-cfb45c2a611a38850d8ea263d89ab595-medium_jpg.jpg?buster=1326842750">
       <p <p style="font-size:42px; font-weight:bold;" id="company_name"></p>
       <div class="col-xs-4">
         <div class="row">
         <br><br>
           <div class="col-sm-10 founder" id="wrapper1">
             <img class="col-xs-8" id="founder1" src="https://s3.amazonaws.com/photos.angel.co/users/26786-medium_jpg?1306973402"><span><p id="name1" style="font-size:32px;font-weight:bold">Jeff Lawson</p></span>
           </div>
           <div class="col-sm-10 founder" id="wrapper2">
             <img class="col-xs-8" id="founder2" src="https://s3.amazonaws.com/photos.angel.co/users/169245-medium_jpg?1346719228"><span><p id="name2"style="font-size:32px;font-weight:bold">John Wolthuis</p></span>
           </div>
           <div class="col-sm-10 founder" id="wrapper3">
             <img class="col-xs-8" id="founder3" src="https://s3.amazonaws.com/photos.angel.co/users/114331-medium_jpg?1333666677"><span><p  id="name3" style="font-size:32px;font-weight:bold">Evan Cooke</p></span>
            </div>
            
          </div>
        </div>
      </div>
   </div>
   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
<!--   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
   <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script> 
   <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dc/1.6.0/dc.js"></script>
   <script type="text/javascript" src="static/js/crossfilter.js"></script>     
   <script type="text/javascript" src="static/js/visualize.js"></script>
    <script type="text/javascript" src="static/js/jquery.autocomplete.js'"></script>

   <script>

var company = "{{company}}";
d3.csv('/static/companies.csv', function (data) {
  // console.log(data[0]);
  founder_counter = 1;
  for(i in data) {
    if(data[i].company_name.toLowerCase() == company.toLowerCase()) {
      // console.log(data[i]);
      $('#company_img').attr('src', data[i].company_img);
      $('#company_name').text(data[i].company_name);
      $('#founder' + founder_counter).attr('src', data[i].founder_img);
      $('#name' + founder_counter).text(data[i].founder_name);
      $('#name' + founder_counter).css(data[i].founder_name);
      $('#wrapper' + founder_counter).show();
      founder_counter = founder_counter + 1;
    }
  }
});

// var pbar = dc.rowChart("#pred-bar", "pbarchart");
  d3.csv("/static/predictions/RF_classify_and_regress.csv", function (data) {
      var prob; 
      var worth;
      for (i in data) {
        if (data[i].name.toLowerCase() == company.toLowerCase()) {
        prob = data[i].RFCprobA;
        worth = data[i].RFRval;
        }
      }

      var pcutoff = 0.3;
      if (prob > pcutoff) {
        worthval = (worth/1000000).toPrecision(3);
        $('#worth-box').append('<h2> $' + worthval + 'M </h2>');
      } else {
        $('#worth-box').append('<h2>--</h2>');
      }
      
      $('#prob-box').append('<h2>' + prob + '</h2>');    
    dc.renderAll("pbarchart");
    });

  // var expenseColors = ["#fee391","#fec44f","#fe9929","#fd8d3c","#e08214","#fdb863","#fdae6b","#ec7014"];

  // var frow = dc.rowChart("#feat-bar", "chart");
  // d3.csv("/static/predictions/featureimportances.csv", function (d) {
  //   var ups = crossfilter(d);
  //   var ddim = ups.dimension(function(d) {return +d.weights;});
  //   var dgroup = ddim.group().reduceSum(function(d) {return +d.weights;});

  //   frow.width(800).height(640)
  //     .margins({top: 10, right: 50, bottom: 30, left: 50})
  //     .transitionDuration(500)
  //     .x(d3.scale.linear().domain([0.5, 7.5]))
  //     .dimension(ddim)
  //     .group(dgroup)
  //     .elasticX(true)
  //     .colors(expenseColors)
  //     .renderLabel(true)
  //     .gap(5)
  //     .ordering(function(d) {return -d.value;})
  //     .renderTitle(true)
  //     .title("Testtitle");
  //     // .xAxis().ticks(5).tickFormat(d3.format("s");

  //   dc.renderAll("chart");
  //   });

   </script>

   <script>
     $('#query').autocomplete('static/names.txt');
   </script> 
 </body>
</html>