<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

   <title> InvestWiser </title>

   <!-- Bootstrap core CSS -->
   <!-- <link href="static/css/bootstrap.css" rel="stylesheet"> -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
   <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/pin.css') }}" rel="stylesheet">

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->


 </head>

  <div class="container-fluid">
   <div align="center">
    <a href="/"><h1 class="splash">InvestWiser</h1></a>
     <h3 class="caption">Predict Series A Crunch Outcome</h3>
        <div class="form-group">
	       <span class="input-group-btn">
	         <form class="form-inline" action="fetchcompany" method="get">
	         <input style="width: 500px; height:48px; font-size:20px;" 
		    type="text" id="company" name="company" class="form-control" placeholder="Type in startup name">  
	         <button style="font-size:20px; height:48px;" 
		     class="btn primary-button" type="submit">Predict!</button>
          <!-- Button trigger modal -->
          <button class="btn primary-button" style="font-size:20px; height:48px;" data-toggle="modal" data-target="#myPrezi">
            How it works
          </button>

          </form>
	       </span>
       </div>
     </div>
     <div id="notfound-box" style="display:none" align="center"><h4>Startup not found</h4></div>
     <br><br>

<!-- Modal -->
<div class="modal fade" id="myPrezi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h3>About InvestWiser</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <p>
            InvestWiser is a project of Joy Rimchala, a Fellow at the Insight Data Science program.
          </p>
          <p>
                This app provides probabilistic predictions of seed-stage's chance of raising series A funding. The predictions are derived from supervised classification of early stage startups that have received seriesA funding after 2010 by Random Forest Classification with 5-fold cross validation. The model that  offered the best results (in mean square error sense) uses startup lifetime, log(seed amount), and founder experience as the most important features and consists of 16 trees. It would be really neat to try to correlate this with other metadata like startup hiring activities and social media visibility, something I'm looking into now. 
          </p>
          <p>Check out <a href="http://prezi.com/r4g0f27usss-/?utm_campaign=share&utm_medium=copy&rc=ex0share">InvestWiser's Prezi</a> to find out more information.</p>

          <!-- <iframe src="http://prezi.com/embed/r4g0f27usss-/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0"></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <!-- Prediction box -->
   <!-- ================================================== --> 

    <div class="container">
      <div class="centered col-lg-12">   
        <div class='pin-wide' id="result-box" style="display: none">
        <div class='row'>
            <div class="col-md-6"><h3>Likelihood</h3>
              <h2 id="prob-box"></h2></div>
            <div class="col-md-6"><h3>Amount(predicted)</h3>
              <h2 id="worth-box"></h2></div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-md-10">
        <img class="col-xs-3 pull-left" id="company_img" src="https://s3.amazonaws.com/photos.angel.co/startups/i/32509-cfb45c2a611a38850d8ea263d89ab595-medium_jpg.jpg?buster=1326842750">
        <br><br>
       <p style="font-size:32px; font-weight:bold;" height="400px" id="company_name" align="left"></p>
       <p style="font-weight:bold" align="left" id="snippet"></p>
       <p id="prod_desc" align="left"></p>
       <a id="result-dismiss">CLOSE</a>
       </div>
       </div>

<!--           <div class="row">
         <br><br>
 --><!--            <div class="col-sm-4 founder" id="wrapper1">
             <img class="col-xs-8" id="founder1" src="https://s3.amazonaws.com/photos.angel.co/users/26786-medium_jpg?1306973402">
             <div class="caption" id="name1" style="font-size:32px;font-weight:bold">Jeff Lawson</div>
           </div>
           <div class="col-sm-4 founder" id="wrapper2">
             <img class="col-xs-8" id="founder2" src="https://s3.amazonaws.com/photos.angel.co/users/169245-medium_jpg?1346719228"><span><p id="name2"style="font-size:32px;font-weight:bold">John Wolthuis</p></span>
           </div>
           <div class="col-sm-4 founder" id="wrapper3">
             <img class="col-xs-8" id="founder3" src=""><span><p  id="name3" style="font-size:32px;font-weight:bold"></p></span>
            </div> -->
            
          <!-- </div> -->
        </div>
      </div>
    </div>

  <!-- Pin container 1 -->
  <!-- ================================================== --> 
    <div class="pin-container">
      <h3 align="center" id="YHhead">Young Promising Startups</h3>
      <div class="columns" id="col1" align="center"></div>
      <div class="columns" id="col1-showmore"  style="display:none" align="center"></div>
    </div>

  <!-- Prediction box 2-->
   <!-- ================================================== --> 
    <div class="container">
      <div class="centered col-lg-12">   
        <div class='pin-wide' id="result-box2" style="display: none">
        <div class='row'>
            <div class="col-md-6"><h3>Likelihood</h3>
              <h2 id="prob-box2"></h2></div>
            <div class="col-md-6"><h3>Amount(predicted)</h3>
              <h2 id="worth-box2"></h2></div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-md-10">
        <img class="col-xs-3 pull-left" id="company_img2" src="https://s3.amazonaws.com/photos.angel.co/startups/i/32509-cfb45c2a611a38850d8ea263d89ab595-medium_jpg.jpg?buster=1326842750">
        <br><br>
       <p style="font-size:32px; font-weight:bold;" height="400px" id="company_name2" align="left"></p>
       <p style="font-weight:bold" align="left" id="snippet2"></p>
       <p id="prod_desc2" align="left"></p>
       <a id="result-dismiss2">CLOSE</a>
       </div>
       </div>
        </div>
      </div>
    </div>
  <!-- Pin container 2 -->
  <!-- ================================================== --> 
    <div class="pin-container">
      <h3 align="center" id="MHhead">Mature Promising Startups</h3>
      <div class="columns" id="col2" align="center"></div>
      <div class="columns" id="col2-showmore"  style="display:none" align="center"></div>
    </div>

    <!-- Prediction box 3-->
     <!-- ================================================== --> 
      <div class="container">
        <div class="centered col-lg-12">   
          <div class='pin-wide' id="result-box3" style="display: none">
          <div class='row'>
              <div class="col-md-6"><h3>Likelihood</h3>
                <h2 id="prob-box3"></h2></div>
              <div class="col-md-6"><h3>Amount(predicted)</h3>
                <h2 id="worth-box3"></h2></div>
          </div>
          <br><br>
          <div class="row">
          <div class="col-md-10">
          <img class="col-xs-3 pull-left" id="company_img3" src="https://s3.amazonaws.com/photos.angel.co/startups/i/32509-cfb45c2a611a38850d8ea263d89ab595-medium_jpg.jpg?buster=1326842750">
          <br><br>
         <p style="font-size:32px; font-weight:bold;" height="400px" id="company_name3" align="left"></p>
         <p style="font-weight:bold" align="left" id="snippet3"></p>
         <p id="prod_desc3" align="left"></p>
         <a id="result-dismiss3">CLOSE</a>
         </div>
         </div>
          </div>
        </div>
      </div>    
  <!-- Pin container 3 -->
  <!-- ================================================== --> 
    <div class="pin-container">
      <h3 align="center"  id="YLhead">Young Contenders</h3>
      <div class="columns" id="col3" align="center"></div>
      <div class="columns" id="col3-showmore"  style="display:none" align="center"></div>
    </div>

  <!-- Prediction box 4-->
     <!-- ================================================== --> 
      <div class="container">
        <div class="centered col-lg-12">   
          <div class='pin-wide' id="result-box4" style="display: none">
          <div class='row'>
              <div class="col-md-6"><h3>Likelihood</h3>
                <h2 id="prob-box4"></h2></div>
              <div class="col-md-6"><h3>Amount(predicted)</h3>
                <h2 id="worth-box4"></h2></div>
          </div>
          <br><br>
          <div class="row">
          <div class="col-md-10">
          <img class="col-xs-3 pull-left" id="company_img4" src="https://s3.amazonaws.com/photos.angel.co/startups/i/32509-cfb45c2a611a38850d8ea263d89ab595-medium_jpg.jpg?buster=1326842750">
          <br><br>
         <p style="font-size:32px; font-weight:bold;" height="400px" id="company_name4" align="left"></p>
         <p style="font-weight:bold" align="left" id="snippet4"></p>
         <p id="prod_desc4" align="left"></p>
         <a id="result-dismiss4">CLOSE</a>
         </div>
         </div>
          </div>
        </div>
      </div>        
  <!-- Pin container 4 -->
  <!-- ================================================== --> 
    <div class="pin-container">
      <h3 align="center" id="MLhead">Mature Contenders</h3>
      <div class="columns" id="col4" align="center"></div>
      <div class="columns" id="col4-showmore"  style="display:none" align="center"></div>
    </div>
   </div>

    <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/d3.v3.min.js"></script> 
    <script type="text/javascript" src="static/js/visualize.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script>
    <!-- // <script type="text/javascript" src="static/js/jquery.autocomplete.js'"></script> -->
    <!-- Autocomplete input box -->
    <script>
      $('#company').autocomplete("static/names.txt");
    </script>  
    <!-- Submit input with ENTER key -->
    <script type="text/javascript">
    $('input').keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $('form').submit();
        }
    });

    $(document).keyup(function(e) {
      if (e.keyCode == 27) { $('#result-box').fadeOut(); }
    });
    </script>

  <!-- Script for fetching company data -->
   <!-- ================================================== --> 
    <script type="text/javascript">
    // Fetch prediction
    var g_data=[]; 
    d3.csv('static/predictions/RF_classify_and_regress.csv', function (data) { g_data = data; } );
    // Load companies data
    var c_data = []; 
    d3.csv('static/predictions/companies.csv', function (data) { c_data = data; } );
    // Load companies description
    d3.csv('static/predictions/company_snippets.csv', function (data) {sn_data = data;} );

    function fetchResults(s) {
      for (j in c_data) {
        r = c_data[j]; 
        if (r.company_name.toLowerCase() == s.toLowerCase()) { cj = j; }
        }

      for (k in sn_data) {
        sn = sn_data[k];
        if (sn.company_name.toLowerCase() == s.toLowerCase()) { sk = k; }
      }
    
      target = g_data[gi].company_name;
      prob = g_data[gi].RFCprobA;
      aval = g_data[gi].RFRval;
      worth = g_data[gi].RFRpred; 
      worthval = (worth/1000000).toPrecision(3);
      aval = (aval/1000000).toPrecision(3);
      if (Math.abs(g_data[gi].RFRpred - g_data[gi].RFRval) > 0.35*(g_data[gi].RFRval)){
        aval = 0;
      }
      // snippet = sn_data[sk].high_concept

      if (aval > 0.3) {
        $('#worth-box').html('<h2> $' + worthval + 'M</h2><h3>($' + aval + 'M)</h3>');
      } else {
        if (prob < 0.1) {
          $('#worth-box').html('<h2> <$1M </h2>');
        } else {
          $('#worth-box').html('<h2> $' + worthval + 'M </h2>');
        }
      }

      $('#prob-box').html('<h2>' + (prob*100).toPrecision(3) + ' % </h2>');      
      $('#company_img').attr('src', c_data[cj].company_img);
      $('#company_name').text(c_data[cj].company_name);
      $('#snippet').text(sn_data[sk].high_concept);

      // Add Read more clickable if there's more snippets
      if (sn_data[sk].product_desc !== "") { 
        $('#prod_desc').html("<a href='#' id='more_prod_desc'>Read more</a>");
        $('#more_prod_desc').click(function (e) { 
          e.preventDefault(); 
          $(this).html(sn_data[sk].product_desc);
        });
      }
      // $('#prod_desc').text(sn_data[sk].product_desc);
      // founder_counter = 1;
      // for(i in c_data) {
      //   if(c_data[i].company_name.toLowerCase() == s.toLowerCase()) {
      //     $('#founder' + founder_counter).attr('src', '');
      //     $('#founder' + founder_counter).attr('src', c_data[i].founder_img);
      //     $('#name' + founder_counter).text(c_data[i].founder_name);          
      //     $('#name' + founder_counter).css(c_data[i].founder_name);
      //     $('#wrapper' + founder_counter).show(); 
      //     founder_counter = founder_counter + 1;           
      //   }
      // }
    }

  // <!-- Form submission response -->
   // <!-- ================================================== --> 

    // Form submission
    $('form').submit(function (e) { 
      e.preventDefault(); 
      s = $('input').val();
      gi = "None"
      for(i in g_data) {
        row = g_data[i]; 
        if (row.name.toLowerCase() == s.toLowerCase()) { gi = i; }
        }

      if (gi === "None") { 
        $('#notfound-box').html("Not enough information about '" + s + "'");
        $('#notfound-box').fadeIn(); 
        $('#result-box').fadeOut();
      } 
      else { 
        fetchResults(s);
        $('#result-box').fadeIn();    
       }
    });

    // Close Result box 
    $('#result-dismiss').click(function (e) {
      e.preventDefault();
      $('#result-box').fadeOut();
    })
  </script>

<!-- // Grid icons with links -->
<!-- ================================================== -->  
 <!-- Class 1 : YH -->
<!-- ================================================== --> 
  <script type="text/javascript">
    d3.csv('static/predictions/companies_class1YH.csv', function (data) {
      npin = 10; 
      for (i in data) {
        if (i < npin) {
          $('#col1').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</div>");          

        } else {
          $('#col1-showmore').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</a></div>");
        }
        // Show more startups button
      }
      $('#YHhead').append("<h4><a href='#' id='col1-trigger'> Show all</a> <a href='#' id='col1-hider' style='display:none'> leaders </h4>");      
    });

// <!-- ================================================== -->  -->
//  <!-- Class 2 : MH -->
// <!-- ================================================== -->  -->
    d3.csv('static/predictions/companies_class2MH.csv', function (data) {
      npin = 10; 
      for (i in data) {
        if (i < npin) {
          $('#col2').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</div>");          

        } else {
          $('#col2-showmore').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</a></div>");
        }
        // Show more startups button
      }
      $('#MHhead').append("<h4><a href='#' id='col2-trigger'> Show all</a> <a href='#' id='col2-hider' style='display:none'> leaders </h4>");      
    });

// <!-- ================================================== -->  
//  <!-- Class 3 : YL -->
// <!-- ================================================== -->  
    d3.csv('static/predictions/companies_class3YL.csv', function (data) {
      npin = 10; 
      for (i in data) {
        if (i < npin) {
          $('#col3').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</div>");          

        } else {
          $('#col3-showmore').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</a></div>");
        }
        // Show more startups button
      }
      $('#YLhead').append("<h4><a href='#' id='col3-trigger'> Show all</a> <a href='#' id='col3-hider' style='display:none'> leaders </h4>");      
    });

// <!-- ================================================== -->  
//  <!-- Class 4 : MH -->
// <!-- ================================================== -->  
  d3.csv('static/predictions/companies_class4ML.csv', function (data) {
      npin = 10; 
      for (i in data) {
        if (i < npin) {
          $('#col4').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</div>");          

        } else {
          $('#col4-showmore').append(
          "<div class='pin' data-company=" + data[i].company_name + ">" + 
          // "<a href='/fetchcompany?company=" + data[i].company_name + "'>" + 
          "<img data-company=" + data[i].company_name + " src=" + data[i].company_img + " height='42px'></img>" + 
          "</a></div>");
        }
        // Show more startups button
      }
      $('#MLhead').append("<h4><a href='#' id='col4-trigger'> Show all</a> <a href='#' id='col4-hider' style='display:none'> leaders </h4>");      
    });
  </script>

<!-- // ReadyPins -->
<!-- ================================================== -->  
  <script type="text/javascript">
  function readyPinYH(jQuery) {
    // Load prediction data
   var g1_data=[]; d3.csv('static/predictions/RF_class1YH_classify_and_regress1.csv', function (data) { g1_data = data; } );
   var g2_data=[]; d3.csv('static/predictions/RF_class2MH_classify_and_regress1.csv', function (data) { g2_data = data; } );
   var g3_data=[]; d3.csv('static/predictions/RF_class3YL_classify_and_regress1.csv', function (data) { g3_data = data; } );
   var g4_data=[]; d3.csv('static/predictions/RF_class4ML_classify_and_regress1.csv', function (data) { g4_data = data; } );

    // Load companies data
    var c1_data = []; d3.csv('static/predictions/companies_class1YH.csv', function (data) { c1_data = data; } );
    var c2_data = []; d3.csv('static/predictions/companies_class2MH.csv', function (data) { c2_data = data; } );
    var c3_data = []; d3.csv('static/predictions/companies_class3YL.csv', function (data) { c3_data = data; } );
    var c4_data = []; d3.csv('static/predictions/companies_class4ML.csv', function (data) { c4_data = data; } );
    
    // Class 1: YH Show MORE click responses
    $('#YHhead').on("click", "#col1-trigger", function(e) {
      e.preventDefault();
      $('#col1-trigger').toggle();
      $('#col1-showmore').toggle();
      $('#col1-hider').toggle();
    }) 
   // Class 1: YH Show LESS click responses
    $('#YHhead').on("click", "#col1-hider", function(e) {
      e.preventDefault();
      $('#col1-showmore').toggle();
      $('#col1-hider').toggle();
      $('#col1-trigger').toggle();
    }); 

    // Class 2: MH Show MORE click responses
    $('#MHhead').on("click", "#col2-trigger", function(e) {
      e.preventDefault();
      $('#col2-trigger').toggle();
      $('#col2-showmore').toggle();
      $('#col2-hider').toggle();
    }) 

   // Class 2: MH Show LESS click responses
    $('#MHhead').on("click", "#col2-hider", function(e) {
      e.preventDefault();
      $('#col2-showmore').toggle();
      $('#col2-hider').toggle();
      $('#col2-trigger').toggle();
    }); 

    // Class 3: YL Show MORE click responses
    $('#YLhead').on("click", "#col3-trigger", function(e) {
      e.preventDefault();
      $('#col3-trigger').toggle();
      $('#col3-showmore').toggle();
      $('#col3-hider').toggle();
    }) 
   // Class 3: YL Show LESS click responses
    $('#YLhead').on("click", "#col3-hider", function(e) {
      e.preventDefault();
      $('#col3-showmore').toggle();
      $('#col3-hider').toggle();
      $('#col3-trigger').toggle();
    });

    // Class 4: ML Show MORE click responses
    $('#MLhead').on("click", "#col4-trigger", function(e) {
      e.preventDefault();
      $('#col4-trigger').toggle();
      $('#col4-showmore').toggle();
      $('#col4-hider').toggle();
    }) 
   // Class 4: ML Show LESS click responses
    $('#MLhead').on("click", "#col4-hider", function(e) {
      e.preventDefault();
      $('#col4-showmore').toggle();
      $('#col4-hider').toggle();
      $('#col4-trigger').toggle();
    }); 

    // Class 1: YH Pin click responses
    $('#col1').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g1_data, c1_data, '');
    });
    $('#col1-showmore').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g1_data, c1_data, '');
    });

    // Class 2: MH Pin click responses
    $('#col2').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g2_data, c2_data, 2);
    });

    $('#col2-showmore').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g2_data, c2_data, 2);
    });

    // Class 3: YL Pin click responses
    $('#col3').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g3_data, c3_data, 3);
    });
    $('#col3-showmore').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g3_data, c3_data, 3);
    });

    // Class 4: YL Pin click responses
    $('#col4').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g4_data, c4_data, 4);
    });
    $('#col4-showmore').on("click", ".pin", function (e) {
      e.preventDefault();
      s = $(this).attr('data-company');
      getPinResult(s, g4_data, c4_data, 4);
    });

    // Utility function for fetching pin results
    function getPinResult(s, g_data, c_data, m) {
      for(i in g_data) {
          row = g_data[i]; 
          if (row.name.toLowerCase() == s.toLowerCase()) { gi = i; } }

        for (j in c_data) {
          r = c_data[j]; 
          if (r.company_name.toLowerCase() == s.toLowerCase()) { cj = j; } }

        for (k in sn_data) {
          sn = sn_data[k];
          if (sn.company_name.toLowerCase() == s.toLowerCase()) { sk = k; }
        }

          target = g_data[gi].company_name;
          prob = g_data[gi].RFCprobA;
          aval = g_data[gi].RFRval;
          worth = g_data[gi].RFRpred; 
          worthval = (worth/1000000).toPrecision(3);
          aval = (aval/1000000).toPrecision(3);

          if (Math.abs(g_data[gi].RFRpred-g_data[gi].RFRval) > 0.3*worth) {
            aval = 0;
          }

          if (aval > 0.3) {
            $('#worth-box' + m).html('<h2> $' + worthval + 'M</h2><h3>($' + aval + 'M)</h3>');
          } else {
            if (prob < 0.1) {
              $('#worth-box'+ m).html('<h2> <$1M </h2>');
            } else {
              $('#worth-box'+ m).html('<h2> $' + worthval + 'M </h2>');
            }
          }
          $('#prob-box'+ m).html('<h2>' + (prob*100).toPrecision(3) + ' % </h2>');
          $('#company_img'+ m).attr('src', c_data[cj].company_img);
          $('#company_name'+ m).text(c_data[cj].company_name);

          $('#snippet'+ m).text(sn_data[sk].high_concept);

          // Add Read more clickable if there's more snippets
          if (sn_data[sk].product_desc !== "") { 
          $('#prod_desc'+ m).html("<a href='#' id='more_prod_desc"+ m + "'>More Info</a>");
          $('#more_prod_desc'+ m).click(function (e) { 
            e.preventDefault(); 
            $(this).html(sn_data[sk].product_desc);
        });
      }
      $('#result-box'+ m).fadeIn();

      $('#result-dismiss' + m).click(function (e) {
        e.preventDefault();
        $('#result-box'+m).fadeOut();
      });
    }

    }

  $(document).ready(readyPinYH);
  </script>      
 </body>
</html>