<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Newsline</title>

   <!-- Bootstrap core CSS -->
   <!-- <link href="static/css/bootstrap.css" rel="stylesheet"> -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <!-- <link href="static/css/personal.css" rel="stylesheet"> -->

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->


 </head>

 <body>

  <div class="container">
   <div align="center">
    <a href="/"><h1 class="splash">InvestWiser</h1></a>
     <h2 class="caption">Predict founders' effect on series A funding</h2>
        <div class="form-group">
	       <span class="input-group-btn">
	         <form class="form-inline" action="fetchcompany" method="get">
	         <input style="width: 200px; height:43px; font-size:20px;" 
		    type="text" id="company" name="company" class="form-control">  
	         <button style="font-size:20px; height:43px;" 
		     class="btn primary-button" type="submit">Company</button>
          </form>

          <form class="form-inline" action="fetchfounder" method="get">
            <input style="width: 200px; height:43px; font-size:20px;" 
        type="text" id="founder" name="founder" class="form-control">  
            <button style="font-size:20px; height:43px;" 
         class="btn primary-button" type="submit">Founder</button>                                  
	         <a class="btn secondary-button" onclick="location.href=''"
		style="font-size:20px; height:43px;"></a>
	       </form>
	       </span>
       </div>
     </div>
   </div>
  
   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script> 
 </body>
</html>